* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#app {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #F0F4F8;
}

a {
    text-decoration: none;
    color: #000;
}

.text-heading {
    grid-column: 1/5;
    img {
        width: 40px;
        vertical-align: middle;
    }
    h3 {
        display: inline-block;
        margin-left: 10px;
    }
}

@mixin textOverflow($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    .header {
        height: 70px;
        grid-column: 1/9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100vw;
            height: 70px;
            background-color: #fff;
            box-shadow: 0 1px 3px 0 #27AB83;
        }
        .logo {
            width: 50px;
            vertical-align: middle;
        }
        .logo-text {
            font-size: 24px;
            font-style: italic;
            margin-left: 10px;
            display: inline-block;
        }
        .search-form {
            input {
                width: 300px;
                height: 30px;
                padding: 10px;
            }
            button {
                width: 30px;
                height: 30px;
                background-color: #3EBD93;
                color: #fff;
                border: none;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
                i {
                    font-size: 12px;
                }
            }
        }
    }
    .content {
        grid-column: 1/7;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        background-color: #fff;
        padding: 25px;
        border-radius: 12px;
        .book {
            background-color: #fafafa;
            border-radius: 12px;
            overflow: hidden;
            margin-top: 10px;
            padding-bottom: 15px;
            box-shadow: 0 12px 10px -10px #C6F7E2;
            min-height: 370px;
            position: relative;
            &:hover {
                .book__title {
                    color: #829AB1;
                }
                .book__overlay {
                    opacity: 1;
                }
                .book__effect {
                    opacity: 1;
                    height: 100%;
                }
            }
            img {
                width: 100%;
                height: 235px;
                object-fit: cover;
            }
            .book__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 235px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                i {
                    font-size: 48px;
                }
            }
            .book__effect {
                position: absolute;
                top: 235px;
                left: 0;
                width: 3px;
                height: 0;
                background-color: red;
                transition: height 1.5s, opacity 0.5s;
                opacity: 0;
            }
            .book__category {
                margin-top: 10px;
                margin-left: 10px;
                font-size: 14px;
                color: #3EBD93;
                @include textOverflow(1);
            }
            .book__title {
                padding: 10px 10px 0;
                font-size: 20px;
                width: 100%;
                color: #627D98;
                @include textOverflow(2);
            }
            .book__author {
                margin-top: 25px;
                margin-left: 10px;
                font-size: 14px;
                color: #AD7D52;
                @include textOverflow(1);
                i {
                    margin-right: 5px;
                    color: #627D98;
                }
            }
        }
    }
    .sidebar {
        grid-column: 7/9;
        ul {
            list-style: none;
            margin-top: 20px;
            li {
                padding: 10px 0;
                border-bottom: 1px solid #C6F7E2;
                &:hover {
                    a {
                        color: #627D98;
                    }
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }
    .footer {
        height: 50px;
        grid-column: 1/9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100vw;
            height: 50px;
            background-color: #fff;
            box-shadow: 0 -1px 3px 0 #27AB83;
        }
        .links {
            a:first-child {
                margin-right: 15px;
            }
            i {
                margin-right: 5px;
                font-size: 13px;
            }
        }
        a:hover {
            color: #627D98;
        }
    }


    //- detail css

    .detail-sidebar {
        grid-column: 1/3;
        .book-detail {
            text-align: center;
            img {
                width: 150px;
                height: 225px;
                object-fit: cover;
                border: 3px solid #d2d6de;
                padding: 3px;
            }
            h1 {
                font-size: 20px;
                color: #627D98;
                margin-top: 5px;
            }
            p:first-of-type {
                font-size: 14px;
                color: #AD7D52;
                margin: 10px 0;
                font-weight: bold;
                i {
                    margin-right: 5px;
                    color: #627D98;
                }
            }
            p:last-of-type {
                color: #3EBD93;
            }
        }
        .book-links {
            border-top: 1px solid #3EBD93;
            margin-top: 20px;
            a {
                display: block;
                width: 90%;
                margin: 10px auto;
                padding: 12px 16px;
                text-align: center;
                border-radius: 5px;
                i {
                    margin-right: 5px;
                }
                &:first-of-type {
                    background-color: #65D6AD;
                    margin-top: 20px;
                }
                &:hover {
                    &:first-of-type {
                        background-color: #3EBD93;
                    }
                    &:last-of-type {
                        background-color: #F0F4F8;
                    }
                }
            }
        }
    }
    .detail-content {
        grid-column: 3/9;
        background-color: #fff;
        padding: 20px;
        .detail-content__book-detail {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
                object-fit: cover;
            }
            h1 {
                font-size: 20px;
                color: #627D98;
            }
            p {
                font-size: 14px;
                color: #AD7D52;
            }
        }
        .detail-content__heding {
            h2 {
                font-size: 18px;
                font-weight: normal;
                color: #AD7D52;
                margin-bottom: 10px;
            }
        }
        .detail-content__book-content {
            margin-bottom: 20px;
            p {
                font-size: 18px;
            }
        }
        .detail-content__book-download {
            display: inline-block;
            width: 100%;
            padding: 12px 8px;
            background-color: #e3e6ea;
            margin-bottom: 20px;
            &:hover {
                opacity: 0.8;
            }
            i {
                margin-right: 10px;
            }
        }
    }
}
